:root {
  --dark: #111010;
  --DARK: 17, 16, 16;
  --pink: #e50185;
  --PINK: 229, 1, 133;
  --yellow: #e9ff88;
  --YELLOW: 233, 255, 136;
  --grey: #d0ccd1;
  --GREY: 208, 204, 209;
  --fontsize1: 4rem;
  --fontsize2: 2rem;
  --fontsize3: 1.5rem;
  --fontsize4: 1rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Helvetica, sans-serif;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background: url('./images/bg.jpg');
  background-size: cover;
}

.App {
  position: relative;
  display: flex;
  height: 100vh;
  background-color: rgba(var(--PINK), 0.75);
}

/* ***************************** */
/* ***************************** */
/* ***************************** */
/* ***********UTILITIES********* */
/* ***************************** */
/* ***************************** */
/* ***************************** */
.heading {
  color: var(--yellow);
  font-size: var(--fontsize1);
  padding: 4rem;
  font-weight: 300;
}

.scrollable {
  overflow-y: scroll;
  flex-grow: 1;
}

/* ***************************** */
/* ***************************** */
/* ***************************** */
/* *************LOGIN*********** */
/* ***************************** */
/* ***************************** */
/* ***************************** */

.Login {
  height: 100vh;
  width: 100vw;
  color: var(--grey);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Login h1 {
  font-size: var(--fontsize1);
  margin: 3rem;
}

.Login a {
  text-decoration: none;
  color: var(--dark);
  background-color: var(--yellow);
  padding: 1rem 3rem;
  border-radius: 20rem;
  font-size: var(--fontsize2);
  font-weight: 600;
  box-shadow: 2px 2px 5px var(--dark);
}

.Login a:hover {
  box-shadow: none;
}

/* ***************************** */
/* ***************************** */
/* ***************************** */
/* ************NAVBAR*********** */
/* ***************************** */
/* ***************************** */
/* ***************************** */
.navbar {
  position: relative;
  background-color: var(--dark);
  box-shadow: 1px 0px 5px 0px var(--dark);
  height: 100vh;
}

.navUser {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  border-top: 1px solid white;
  display: flex;
  align-items: center;
  padding: 1rem;
}

.avatar {
  transform: scale(0.8);
}

.navUsername {
  font-size: 2rem;
  color: var(--yellow);
  margin-left: 0.5rem;
  font-weight: normal;
}

.navbar h2 {
  color: var(--pink);
  height: 25%;
}

.navItems {
  font-size: 1.5rem;
}

.navItem {
  text-decoration: none;
  display: block;
  position: relative;
  padding: 1.5rem 2rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.navItemActive {
  background-color: var(--pink);
}
.navIcons {
  transform: scale(1.5);
  margin-right: 1rem;
}

.navLink {
  position: relative;
  color: var(--grey);
  font-weight: 400;
  z-index: 10;
  display: flex;
  align-items: center;
}

.navItem::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 1rem;
  background-color: var(--pink);
  transform: scaleY(0);
  transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s,
    background-color 0.1s;
}

.navItem:hover::before {
  transform: scaleY(1);
  width: 100%;
}

/* ***************************** */
/* ***************************** */
/* ***************************** */
/* *********MAIN CONTAINER****** */
/* ***************************** */
/* ***************************** */
/* ***************************** */
.mainContainer {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.cardContainer {
  padding: 0 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  grid-gap: 3rem;
}

/* ************************************** */
/* **************INFO CARD*************** */
/* ************************************** */

.infocard {
  position: relative;
  background-color: rgba(var(--DARK), 0.8);
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  border-radius: 0.5rem;
  text-align: center;
  box-shadow: 0px 5px 15px 0px rgba(var(--DARK), 0.5);
  transition: background-color 0.2s ease-in-out;
}
.infocard img {
  width: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  box-shadow: 0px 5px 15px 0px rgba(var(--DARK), 0.5);
}

.infocard h4 {
  width: 80%;
  text-align: start;
  font-size: var(--fontsize2);
  margin-bottom: 0.5rem;
  color: var(--grey);
  font-weight: 600;
}

.infocard p {
  text-align: start;
  color: rgba(var(--GREY), 0.7);
  font-size: var(--fontsize3);
  font-weight: normal;
  margin-bottom: 0.5rem;
}

.infocardPlayBtn {
  position: absolute;
  bottom: 2.5rem;
  right: 2.5rem;
  border-radius: 50%;
  opacity: 0;
  color: var(--grey);
  transform: scale(3);
  background-color: transparent;
  z-index: 10;
  transition: opacity 0.2s ease-in !important;
}

.infocardPlayBtn:hover {
  color: var(--yellow);
}

.infocard:hover .infocardPlayBtn {
  opacity: 1;
}

.infocard:hover {
  background-color: rgba(var(--DARK), 0.7);
}

.newPlaylistBtn {
  width: max-content;
  margin-left: 4rem;
  padding: 1rem 2rem;
  margin-top: 4rem;
  border-radius: 0.5rem;
  border: none;
  background-color: var(--yellow);
  color: var(--dark);
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10rem;
  cursor: pointer;
  box-shadow: 0px 5px 10px 0px rgba(var(--DARK), 0.5);
}

.newPlaylistBtnIcon {
  color: var(--pink);
  transform: scale(2);
  margin-right: 0.5rem;
}

.newPlaylistBtn:focus {
  outline: none;
  transform: scale(1.1);
}

.newPlaylistBtn:active {
  outline: none;
  box-shadow: 0px 5px 10px 0px rgba(var(--DARK), 0.9);
}
/* ***************************** */
/* ***************************** */
/* ***************************** */
/* ************TRACKS************ */
/* ***************************** */
/* ***************************** */
/* ***************************** */

.songsHeading {
  display: flex;
  align-items: flex-end;
  padding: 4rem;
  background: linear-gradient(rgba(var(--YELLOW), 0.35) 25%, transparent);
}

.songsHeading img {
  height: clamp(15vw, 20vw, 25vw);
  width: clamp(15vw, 20vw, 25vw);
  outline: 5px solid var(--yellow);
  outline-offset: 5px;
  margin: 1rem;
}

.songsHeadingInfo h2 {
  font-size: 5vw;
  font-weight: bold;
}

.songsHeadingInfo p {
  padding-left: 4rem;
  font-size: var(--fontsize3);
  color: var(--grey);
  padding-top: 1rem;
  text-transform: uppercase;
}

.songsHeadingInfo small {
  font-size: var(--fontsize4);
}

.songsHeadingInfo small:not(:last-child)::after {
  content: ' ,  ';
}

.glowBtn {
  margin: 2rem 4rem;
  background-color: transparent;
  border: 2px solid var(--yellow);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-size: 2rem;
  font-weight: bold;
  color: var(--yellow);
  cursor: pointer;
  transition: box-shadow 0.2s ease-in-out, background-color 0.1s;
}

.glowBtn:hover {
  color: var(--yellow);
  border: 2px solid var(--yellow);
  box-shadow: 0px 0px 20px 2px var(--yellow);
  background-color: var(--yellow);
  color: var(--pink);
}

.favBtn {
  margin: 2rem 5rem;
  transform: scale(3);
  color: var(--yellow);
  cursor: pointer;
}

.favBtn:active {
  animation: pop 0.4s ease-in-out;
}

.songsList {
  margin-bottom: 10rem;
  padding: 0 15rem 0 4rem;
}

.songInfo {
  position: relative;
  margin-bottom: 1rem;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  background-color: rgba(var(--DARK), 0.8);
  border-radius: 0.5rem;
  align-items: center;
  justify-items: center;
  font-size: var(--fontsize3);
  color: var(--grey);
  transition: background-color 0.2s ease-in-out;
}

.songInfo:hover {
  background-color: rgba(var(--DARK), 0.7);
}

.songImg {
  height: 6rem;
  border-radius: 3px;
  grid-column: 1 / 2;
  justify-self: start;
  background-size: cover;
}

.songName {
  grid-column: 2 / 8;
  margin-left: 2rem;
  justify-self: start;
  font-weight: inherit;
  cursor: pointer;
}
.songName:hover {
  font-weight: 400;
  color: var(--yellow);
}
.songName small {
  font-size: var(--fontsize4);
  font-weight: inherit;
  color: rgba(var(--GREY), 0.7);
}
.songName small:not(:last-child)::after {
  content: ', ';
}

.songDuration {
  grid-column: 9 / 10;
  font-weight: inherit;
}

.songLikeBtn {
  transform: scale(2);
  grid-column: 11;
  cursor: pointer;
  opacity: 0;
}

.songLiked {
  color: var(--yellow);
}

.songLikeBtn:active {
  animation: pop 0.2s ease-in-out;
}

.songAddToPlaylist {
  position: relative;
  grid-column: 12;
  transform: scale(2);
  cursor: pointer;
  color: rgba(var(--GREY), 0.5);
  opacity: 0;
}

.songInfo:hover .songAddToPlaylist {
  opacity: 1;
}

.dropup {
  position: relative;
  display: inline-block;
  margin: 0.5rem;
  padding: 1.5rem;
  padding-left: 0;
  cursor: pointer;
  z-index: 10;
  border-radius: 0.5rem;
}

.dropupContent {
  display: none;
  position: absolute;
  color: var(--dark);
  top: -15rem;
  right: 30px;
  min-width: max-content;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  outline: 1px solid rgba(var(--GREY), 0.4);
  backdrop-filter: blur(10px);
}

.dropupContent button {
  display: block;
  font-weight: bold;
  padding: 1rem 2rem;
  border: none;
  border-radius: 0;
  cursor: pointer;
  width: 100%;
  background-color: rgba(var(--GREY), 0.3);
  color: var(--yellow);
  transition: background-color 0.2s ease-in-out;
}
.dropupContent button:not(:last-child) {
  border-bottom: 1px solid rgba(var(--GREY), 0.3);
}

.dropupContent button:hover,
.dropupContent button:focus,
.dropupContent button:active {
  outline: none;
  background-color: rgba(var(--GREY), 0.5) !important;
}

.dropupContent button small {
  color: var(--dark);
}

.dropup:hover .dropupContent {
  display: block;
}

.dropup:hover .songAddToPlaylist {
  color: var(--grey);
}

.removeFromPlaylistButton {
  color: rgba(var(--DARK), 0.9) !important;
}

/* ***************************** */
/* ***************************** */
/* ***************************** */
/* ***********SEARCH************ */
/* ***************************** */
/* ***************************** */
/* ***************************** */
.searchHeader {
  padding: 4rem;
}

.search input {
  margin-left: -3rem;
  padding: 1rem 1rem 1rem 5rem;
  width: 60%;
  font-size: 2rem;
  border-radius: 5rem;
  background-color: rgba(var(--GREY), 0.8);
  color: var(--dark);
  border: none;
  box-shadow: 0px 5px 10px 0px rgba(var(--DARK), 0.5);
  transition: all 0.2s ease-in-out;
}

.search input:focus {
  outline: none;
  background-color: var(--grey);
  width: 80%;
}

.searchBtn {
  border-radius: 50%;
  border: none;
  background-color: transparent;
  color: var(--dark);
  transform: scale(1.5);
  cursor: pointer;
}
.search button:focus {
  outline: none;
  color: var(--pink);
}

.search .searchIcon {
  transform: scale(1.3);
}

.categoryCardContainer {
  padding: 4rem;
  padding-top: 0rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  grid-gap: 1rem;
}

.categoryCard {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: rgba(var(--DARK), 0.2);
  border-bottom: 2px solid var(--dark);
  border-right: 2px solid var(--dark);
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-radius: 0.5rem;
  padding: 0.5rem;
  transition: all 0.2s ease-in-out;
}

.categoryCard:hover {
  cursor: pointer;
  background-color: rgba(var(--DARK), 0.5);
  border: none;
}

.categoryCard img {
  width: 5rem;
  object-fit: contain;
  border-radius: 0.5rem;
}

.categoryCard p {
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--grey);
}

/* ***************************** */
/* ***************************** */
/* ***************************** */
/* ***********SCROLLBAR********* */
/* ***************************** */
/* ***************************** */
/* ***************************** */
.mainContainer::-webkit-scrollbar-track,
.scrollable::-webkit-scrollbar-track {
  background-color: transparent;
}

.mainContainer::-webkit-scrollbar,
.scrollable::-webkit-scrollbar {
  width: 0.5rem;
}

.mainContainer::-webkit-scrollbar-thumb,
.scrollable::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 1px var(--grey);
  background-color: rgba(var(--GREY), 0.3);
}

/* ***************************** */
/* ***************************** */
/* ***************************** */
/* **********ANIMATIONS********* */
/* ***************************** */
/* ***************************** */
/* ***************************** */

@keyframes pop {
  0% {
    transform: scale(2);
  }
  50% {
    transform: scale(4);
    color: var(--pink);
  }
  100% {
    transform: scale(3);
  }
}

@keyframes modal {
  0% {
    top: 0;
  }
  50% {
    top: 80%;
  }
  100% {
    top: 50%;
  }
}

/* ***************************** */
/* ***************************** */
/* ***************************** */
/* *************MODAL*********** */
/* ***************************** */
/* ***************************** */
/* ***************************** */

.modal {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(var(--DARK), 0.5);
  backdrop-filter: blur(5px);
  color: var(--dark);
}

.modalShow {
  display: block;
}

.modalHide {
  display: none;
}

.modalContent {
  position: inherit;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -80%);
  font-size: 2rem;
  background-color: rgba(var(--GREY), 0.8);
  padding: 3rem 6rem;
  width: max-content;
  outline: 3px solid var(--grey);
  outline-offset: 3px;
  box-shadow: 5px 5px 15px 0 rgba(var(--GREY), 0.1);
  animation: modal 0.2s ease-in-out;
}

.newPlaylistForm label {
  font-weight: bold;
  color: var(--dark);
}

.newPlaylistForm input {
  margin-bottom: 2rem;
  margin-left: 1rem;
  padding: 0.5rem;
  background-color: rgba(var(--DARK), 0);
  border: none;
  border-bottom: 2px solid var(--dark);
  border-radius: 0.2rem;
  transition: border-bottom 0.1s ease-in-out;
}
.newPlaylistForm input:focus {
  outline: none;
  background-color: rgba(var(--DARK), 0.05);
}

.newPlaylistForm button {
  padding: 1rem;
  width: 100%;
  margin-top: 2rem;
  background-color: var(--yellow);
  border: none;
  font-size: 2rem;
  font-weight: bold;
  color: var(--dark);
  border-radius: 0.5rem;
  cursor: pointer;
}

.newPlaylistForm button:focus,
.newPlaylistForm button:hover {
  box-shadow: 2px 2px 5px 0px rgba(var(--DARK), 0.5);
}

.modalClose {
  position: absolute;
  right: 0;
  top: 0;
  height: 3rem;
  width: 3rem;
  background-color: transparent;
  color: var(--dark);
  border: none;
  font-size: 3rem;
  cursor: pointer;
}

.modalClose:hover,
.modalClose:focus {
  outline: none;
  color: var(--pink);
}
